.customerList__header{
    margin-bottom: 20px;
}
.customerList__header>span{
    font-size: 26px;
    font-weight: 500;
    display: block;
}
.customerList__search{
    margin-bottom: 20px;
    max-width: 219px;
}
.customerList__loading{
    display: flex;
    justify-content: center;

}
.customerList__table{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.customerList__pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}