.customerList__header{
    margin-bottom: 20px;
}
.customerList__header>span{
    font-size: 26px;
    font-weight: 500;
    display: block;
}
.customerList__search{
    margin-bottom: 20px;
    max-width: 219px;
}