.questionDetailModal {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.questionDetailModal__box {
    position: relative;
    width: 90%;
    max-width: 1000px;
    background: #fff;
    margin: 15vh auto 0;
    border-radius: 12px;
    overflow: hidden;
    padding: 20px;
}

.questionDetailModal__header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.questionDetailModal__header span {
    font-size: 24px;
    display: block;
}

.questionDetailModal__close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.questionDetailModal__close>img {
    width: 100%;
    height: auto;
    display: block;
}

.questionDetailModal__wrapper {
    overflow-y: overlay;
    height: 500px;
}
.questionDetailModal__loading{
    height: 500px;
    display: flex;justify-content: center;
    align-items: center;

}


.questionDetailModal__header span>button{
    border: none;
    cursor: pointer;
    width: 18px;
    height: 18px;
    transition: all 0.2s linear;
    padding: 0;
    margin-left: 10px;
}
.questionDetailModal__header span>input{
   padding: 2px 10px;
   border: 1px solid #ccc;
   border-radius: 8px;

}

.questionDetailModal__edit{
    background: url(../../assets/icons/edit-icon.svg) center 0 no-repeat;
    background-size: 100%;
   
}
.questionDetailModal__edit:hover{
    background: url(../../assets/icons/editActive-icon.svg) center 0 no-repeat;
}

.questionDetailModal__cancel{
    background: url(../../assets/icons/closeActive-icon.svg) center 0 no-repeat;
    background-size: 100%;
    
}
.questionDetailModal__save{
    background: url(../../assets/icons/check-icon.svg) center 0 no-repeat;
    background-size: 100%;
}
.questionDetailModal__newItem{
    width: 99%;
    margin: 0 auto;
    background: #fff;
    border-radius: 9px;
    color: #686868;
    padding: 10px 10px 10px 20px;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 20%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.questionDetailModal__editting{
    width: 100%;
    display: flex;
    gap: 10px;
}
.questionDetailModal__editting>textarea{
    font-size: 14px;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: 500;
    outline: none;
    resize: vertical;
    min-height: 33px;
}
.questionDetailModal__control{
display: flex;
}
.questionDetailModal__control>button{
    border-radius: 12px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #1961d3;
    background: #fff;
    font-size: 14px;
    transition: all 0.2s linear;
}
.questionDetailModal__control>button:hover{
    background: #f5f8fd;
}
.questionDetailModal__addBtn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.questionDetailModal__addBtn>button{
    border-radius: 12px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #1961d3;
    background: #fff;
    transition: all 0.2s linear;
}
.questionDetailModal__addBtn>button:hover{
    background: #f5f8fd;
}