.customerItem{
    color: #686868;
}
.customerItem__title{
    display: flex;
    background: #fff;
    border-radius: 9px;
    padding: 10px 20px;
    transition: all 0.2s linear;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 /15%);

}
.customerItem__title:hover{
    background: #f3f3f3;
}
.customerItem__ip{
    width: 80%;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.customerItem__number{
    width: 20%
}
.customerItem__viewMore{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.customerItem__viewMore>button{
    background: url(../../assets/icons/arrowDown-icon.svg) center 0 no-repeat;
    background-size: 100%;
    padding: 0;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.2s linear;
    display: block;
}
.customerItem__acc{
    padding: 10px 0 ;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 5px;
    
}
.customerItem__acc>ul{
    display: flex;
    list-style: none;
    margin: 0;
    align-items: center;
   cursor: pointer;
    padding: 5px 20px;
    border-radius: 9px;
    gap: 10px;
    transition: all0.1s linear;
}
.customerItem__acc>ul:hover{
    background: #efefef;

}
.customerItem__acc>ul>li{
    width: 50%;
}